# Ignore temporary files
.sass-cache
.tmp

# Ignore compiled head
site/head-compiled.html

# Ignore compiled stylesheets
site/styles/

# Ignore package-managed libraries
vendor/

# Ignore generated favicon
site/favicon.ico

# Ignore generated sprites
site/img/default-sprites.png

# Ignore compiled scripts
site/scripts
