html,body {
	font-family: Calibri, Arial;
	font-size: 95%;
	background: #111;
	color: #eee;
}
select {
	font-family: Calibri, Arial; 
	font-size: 95%;
}
html, form { margin: 0; padding: 0; }
body { margin: 15px; padding: 0; }

a, a:active, a:visited {
	color: #ee3;
	text-decoration: underline;
}
a:hover {
    color: #e93;
}

p,li {
    line-height: 1.3em;
}

table.standard { background: #222; border-collapse: collapse; }
table.standard th { text-align: left; background: #333; font-weight: bold; }
table.standard th, table.standard td { line-height: 1.3em; padding: 2px 5px 2px 5px; border: 1px solid #333; }
table.standard tr.odd { background: #292929; }
table.standard th { min-width: 40px; }
table.standard td { min-width: 60px; }
table.standard td.date { white-space: nowrap; }
table.standard td.number { text-align: right; }
table.full-width { width: 100%; }
table.standard ul { margin: 0; padding: 0; margin-left: 1.1em; }

.disabled a, a.disabled { color: gray; text-decoration: none; }
.disabled { color: gray; }

/* navigation */
#navigation {
	margin: 5px auto 5px auto;
	width: 80%;
	text-align: center;
	background: #432;
	border: 1px solid #654;
	padding: 5px;
	font-size: 100%;
}
#navigation ul { margin: 0; padding: 0; }
#navigation li { list-style: none; display: inline; display: inline-block; padding: 2px 9px 2px 9px; border: 1px solid #543; background: #321; margin: 0 2px 0 2px; }
#navigation li a { text-decoration: none; }
#navigation li a:hover { text-decoration: hover; }

#page_home #navigation li.home a,
#page_profile #navigation li.profile a,
#page_accounts #navigation li.accounts a,
#page_user #navigation li.user a,
#page_login #navigation li.login a,
#page_admin #navigation li.admin a,
#page_premium #navigation li.premium a,
#page_help #navigation li.help a { 
	font-weight: bold; color: white; 
}

#autologin { 
	font-size: 80%; 
	width: 60%; 
	margin: 0px auto 5px auto; 
	padding: 5px; 
	text-align: center;
}

.error { 
	width: 60%; 
	border: 1px solid #944; 
	padding: 10px; 
	margin: 5px auto 5px auto; 
	background: #622 url('img/nuvola/messagebox_critical.png') 10px center no-repeat;
	padding-left: 50px;
	min-height: 32px;
}
.warning { 
	width: 60%; 
	border: 1px solid #974; 
	padding: 10px; 
	margin: 5px auto 5px auto; 
	background: #642 url('img/nuvola/messagebox_warning.png') 10px center no-repeat;
	padding-left: 50px;
	min-height: 32px;
}
.success { 
	width: 60%; 
	border: 1px solid #496; 
	padding: 10px; 
	margin: 5px auto 5px auto; 
	background: #264 url('img/nuvola/ok.png') 10px center no-repeat;
	padding-left: 50px;
	min-height: 32px;
}
.message { 
	width: 60%; 
	border: 1px solid #469; 
	padding: 10px; 
	margin: 5px auto 5px auto; 
	background: #246 url('img/nuvola/messagebox_info.png') 10px center no-repeat;
	padding-left: 50px;
	min-height: 32px;
}
.tip {
	padding: 10px; 
	border: 1px solid #469; 
	margin: 5px 10px 5px 10px;
	background: #246 url('img/nuvola/messagebox_info.png') 10px center no-repeat;
	padding-left: 50px;
}
.tip_float {
	width: 40%;
	float: right;
}
.page_accounts .tip_float {
	width: 30%;
	margin-top: 0;
}
.error ul, .success ul, .message ul, .warning ul { margin: 0; padding: 0; list-style: none; }

h1 { font-size: 120%; }
h2 { font-size: 110%; }

#footer_nav, #copyright { clear: both; }
#footer_nav .footer_nav_list { width: 75%; padding: 0; margin: 0; margin: 30px auto 10px auto; padding: 10px; border-top: 1px solid #333; border-bottom: 1px solid #333; }
#footer_nav .footer_nav_list li { display: inline-block; width: 32%; padding: 0; margin: 0; line-height: 1.5em; vertical-align: top; }
#footer_nav .footer_nav_list .title { font-weight: bold; display: inline-block; margin-bottom: 5px; }
#footer_nav .footer_nav_list ul { display: block; margin: 0; padding: 0; }
#footer_nav .footer_nav_list ul li { display: block; margin: 0; padding: 0; width: auto; }
#copyright { text-align: center; font-size: 80%; }

/* basic tabs implementation */
.tabs { clear: both; }
.tabs .tab_list { margin: 0; padding: 5px; padding-bottom: 0; }
.tabs .tab_list li:hover { text-decoration: underline; }
.tabs .tab_list > ul, .tabs .tab_list > li { margin: 0; padding: 0; list-style: none; }
.tabs .tab_list > li { display: inline-block; min-width: 120px; border: 1px outset #ccc; margin: 0; border-bottom: none; padding: 5px; cursor: pointer; }
.tabs .tab_groups .tab_open { min-height: 160px; }
.tabs .tab_groups .tab_open h1, .tabs .tab_groups .tab_open h2 { margin-top: 0; }
.tabs .tab_groups { border: 1px outset #ccc; margin: 0; padding: 10px; list-style: none; background: #222; }
.tabs .tab_selected { font-weight: bold; background-color: #334455 !important; }

span.new { color: red; font-size: 75%; text-shadow: 1px 1px 1px black; }
span.beta { color: #666; font-size: 75%; text-shadow: 1px 1px 1px black; }

#page_external .external_list li { padding-bottom: 5px; }
#page_external .external_list .title { display: inline-block; width: 240px; padding: 5px; }
#page_external .external_list .status_percent { display: inline-block; width: 75px; padding: 5px 0px 5px 20px; margin-right: 5px; text-align: center; }

#page_external .external_list .perfect { background: #473 url('img/nuvola/ok_16.png') 7px center no-repeat; }
#page_external .external_list .good { background: #363 url('img/nuvola/ok_16.png') 7px center no-repeat; }
#page_external .external_list .ok { background: #352 url('img/nuvola/ok_16.png') 7px center no-repeat; }
#page_external .external_list .poor { background: #862 url('img/nuvola/messagebox_warning_16.png') 7px center no-repeat; }
#page_external .external_list .bad { background: #952 url('img/nuvola/messagebox_warning_16.png') 7px center no-repeat; }
#page_external .external_list .broken { background: #722 url('img/nuvola/messagebox_critical_16.png') 7px center no-repeat; }
#page_external .external_list .dead { background: #822 url('img/nuvola/messagebox_critical_16.png') 7px center no-repeat; }

#page_screenshots .tabs .tab_open { text-align: center; }
#page_screenshots .tabs .tab_open img { max-width: 66%; border: 1px solid #333; }
#page_screenshots .tabs .tab_open img.image2 { max-width: 54%; margin-top: 10px; }
#page_screenshots .tabs .tab_open p { width: 75%; margin: 5px auto 5px auto; }
#page_screenshots #tabs_screenshots { min-width: 940px; }

/* maybe move following into user-only css */

.page_list .page_current { font-weight: bold; }
.graph_collection .graph, .graph_collection .graph_collection_empty { float: left; border: 1px solid #333; margin: 5px; padding: 5px; overflow: auto; }
.graph_collection .graph_collection_empty { width: 220px; height: 220px; padding: 20px; font-style: italic; color: #666; }
.graph_collection .graph h2 { margin: 5px; }
.graph_collection .graph .overflow_wrapper { overflow: auto; width: 100%; height: 100%; clear: none; }
.graph_collection .graph table.standard { width: 100%; }
.graph_collection .graph table.standard th { min-width: 1px; }
.graph_collection .graph .last_updated { float: right; text-align: right; width: 120px; position: relative; top: -1.75em; color: #333; font-size: 80%; }
.graph_collection .graph .render_time { display: block; text-align: right; position: relative; width: 100%; color: #333; font-size: 80%; }
.graph_collection .graph .graph_title a { color: white; text-decoration: none; }
.graph_collection .graph .graph_title a:hover { color: white; text-decoration: underline; }

.graph_collection .graph .rate_matrix { list-style: none; margin: 0; padding: 0; }
.graph_collection .graph .rate_matrix .volume, .graph_collection .graph .rate_matrix .exchange { font-size: 80%; color: #666; }

.graph_collection ul.graph_controls { 
	list-style: none; 
	margin: 5px; 
	padding: 10px; 
	position: absolute; 
	border: 1px solid #fff; 
	background: #000; 
	background-color: rgba(0,0,0,0.9); 
	z-index: 5;
}
.graph_collection ul.graph_controls li { 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	display: inline-block;
}
.graph_collection ul.graph_controls li + li:before {
	content: ' - ';
}

#page_profile .add_graph { clear: both; }
#page_profile .add_graph #graph_type option { padding-left: 10px; }
#page_profile .add_graph #graph_type option.category { padding: 2px 5px; font-size: 90%; background: #ccc; font-weight: bold; }
.graph_controls { display: none; }
h2.graph_heading { margin: 5px 0; padding-top: 5px; font-size: 130%; clear: both; }
.standard_account_list .job_error { background: #993333; }
.standard_account_list .job_success { background: #336633; }

.address code { font-family: Consolas, Courier New, Courier, monospace; }
.btc_address .inspect, .ltc_address .inspect, .ftc_address .inspect, .ppc_address .inspect { display: inline-block; text-indent: 900em; overflow: hidden; width: 16px; height: 16px; vertical-align: text-bottom; }
.btc_address .inspect { background: url('img/blockchain.png') top left no-repeat; }
.ltc_address .inspect { background: url('img/explorer1.png') top left no-repeat; }
.ftc_address .inspect { background: url('img/feathercoin.png') top left no-repeat; }
.ppc_address .inspect { background: url('img/ppcoin.png') top left no-repeat; }
.currency_name_btc, .currency_name_ltc, .currency_name_nmc, .currency_name_ftc, .currency_name_ppc { background-position: top left; background-repeat: no-repeat; padding-left: 20px; } 
input.currency_name_btc, input.currency_name_ltc, input.currency_name_nmc, input.currency_name_ftc, input.currency_name_ppc { background-position: 2px 2px; background-repeat: no-repeat; padding: 2px 2px 2px 22px; } 
.currency_name_btc { background-image: url('img/bitcoin.png'); } 
.currency_name_ltc { background-image: url('img/litecoin.png'); } 
.currency_name_nmc { background-image: url('img/namecoin.png'); } 
.currency_name_ftc { background-image: url('img/feathercoin.png'); } 
.currency_name_ppc { background-image: url('img/ppcoin.png'); } 
.help_name_twitter { background: url('img/twitter.png') top left no-repeat; padding-left: 20px; } 
.help_name_email { background: url('img/gmail.png') top left no-repeat; padding-left: 20px; } 
.help_name_forum { background: url('img/bitcointalk.png') top left no-repeat; padding-left: 20px; } 
.help_name_litecoinforum { background: url('img/litecoin.png') top left no-repeat; padding-left: 20px; } 
.help_name_groups { background: url('img/groups.png') top left no-repeat; padding-left: 20px; } 
.discounted { color: #666; text-decoration: line-through; }
.twitter { background: url('img/twitter.png') 4px 2px no-repeat; padding-left: 24px; display: inline-block; height: 18px; } 
.help_list .currency_list { margin-top: 10px; }
.help_list .currency_list li { line-height: 2em; }

.tabs .tab_list li.openid { background: url('img/openid.png') 4px 6px no-repeat; padding-left: 24px; min-width: 100px; } 
.tabs .tab_list li.google { background: url('img/google2.png') 4px 6px no-repeat; padding-left: 24px; min-width: 100px; } 
.tabs .tab_list li.stackexchange { background: url('img/stackexchange.png') 4px 6px no-repeat; padding-left: 24px; min-width: 100px; } 
.tabs .tab_list li.yahoo { background: url('img/yahoo.png') 4px 6px no-repeat; padding-left: 24px; min-width: 100px; } 
.tabs .tab_list li.blogspot { background: url('img/blogspot.png') 4px 6px no-repeat; padding-left: 24px; min-width: 100px; } 
