%h2 = t("Supported securities exchanges")

:php
  $security_exchange_data_temp = get_security_exchange_pairs();

  // remove any exchanges that are disabled
  $security_exchange_data = array();
  foreach ($security_exchange_data_temp as $exchange => $pairs) {
    foreach (account_data_grouped() as $label => $data) {
      if ($label === "Securities") {
        foreach ($data as $key => $value) {
          if ($key === $exchange && !$value['disabled']) {
            $security_exchange_data[$exchange] = $pairs;
          }
        }
      }
    }
  }

  // summarise
  $all_security_currencies = array();
  foreach ($security_exchange_data as $exchange => $pairs) {
    foreach ($pairs as $p) {
      $all_security_currencies[$p] = $p;
    }
  }

%table.supported_securities
  %thead
    %tr
      %th =t("Securities")
      - foreach ($all_security_currencies as $p => $pairs)
        %th.currency
          %span{:class => "currency_name_" . $p, :title => get_currency_name($p)}
            = get_currency_abbr($p)

            - if (in_array($p, get_new_supported_currencies()))
              %span.new =t("new")

  %tbody
    - foreach ($security_exchange_data as $exchange => $currencies)
      %tr
        %td
          = get_exchange_name($exchange)
          - if (in_array($exchange, get_new_security_exchanges()))
            %span.new =t("new")

        - foreach ($all_security_currencies as $p)
          - if (in_array($p, $currencies))
            %td.yes{:title => get_currency_abbr($p)} Y
          - else
            %td.no

.screenshots_group
  %ul.screenshots
    %li.historical
      != link_to(url_for('historical'), t("Historical Data"))
    %li.add_service
      != link_to(url_for('help/add_service'), t("Add another exchange..."))
