.explorer_name.explorer_btc {
  padding-left: 20px;
  background: url('../images/explorers/blockchain.png') 0 0 no-repeat;
  background-size: 16px 16px;
}
.btc_address .inspect {
  background: url('../images/explorers/blockchain.png') top left no-repeat;
  background-size: 16px 16px;
}
