#page_average {
  .currencies {
    clear: both;
    padding-top: 20px;

    .tabs .tab_list > li { min-width: 60px; }

    .tabs .tab h3 {
      font-size: 110%;
      margin-top: 5px;
      margin-left: 5px;
    }

    .tabs .tab ul {
      margin-bottom: 10px;
    }
  }

  .market-data {
    display: inline-block;
    float: left;
  }

  .market-data .graph_title {
    display: none;
  }

  .graph_collection {
    width: 100%;

    .graph {
      margin-left: 20px;
    }
  }

  .graph_average {
      position: relative;
      top: -1.5em;
  }

  .graph_collection .market-data .graph .graph_average .overflow_wrapper {
    height: 87%;
  }
}

