@import "variables";

// generated SCSS from asset-discovery; should be at top
@import "generated";

@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

html,body {
  font-family: 'Calibri', Arial;
  font-size: 95%;
  background: #111;
  color: #eee;
}
select,button,input {
  font-family: 'Calibri', Arial;
  font-size: 95%;
}
html, form { margin: 0; padding: 0; }
body { margin: 15px; padding: 0; }

a, a:active, a:visited {
  color: #ee3;
  text-decoration: underline;
}
a:hover {
    color: #e93;
}

p,li {
    line-height: 1.3em;
}

table.standard { background: #222; border-collapse: collapse; }
table.standard th { text-align: left; background: #333; font-weight: bold; }
table.standard th, table.standard td { line-height: 1.3em; padding: 2px 5px 2px 5px; border: 1px solid #333; }
table.standard tr.odd { background: #292929; }
table.standard tr.selected, .notification_template.selected { background: #111; }
table.standard tr.odd.selected { background: #111; }
table.standard th { min-width: 40px; }
table.standard td { min-width: 60px; }
table.standard td.date { white-space: nowrap; }
table.standard td.number, table.standard th.number, table.standard td.align-right { text-align: right; }
table.standard td.number.negative, table.standard td.number .negative { color: #f33; }
table.full-width { width: 100%; }
table.standard ul { margin: 0; padding: 0; margin-left: 1.1em; }

.disabled a, a.disabled { color: gray; text-decoration: none; }
.disabled { color: gray; }
.selected a { color: white; font-weight: bold; text-decoration: none; }

@import "navigation";

div, p {
  &.error {
    width: 60%;
    border: 1px solid #944;
    padding: 10px;
    margin: 5px auto 5px auto;
    background: #622 url('../img/nuvola/32x32/messagebox_critical.png') 10px 10px no-repeat;
    padding-left: 50px;
    min-height: 32px;
  }
  &.warning {
    width: 60%;
    border: 1px solid #974;
    padding: 10px;
    margin: 5px auto 5px auto;
    background: #642 url('../img/nuvola/32x32/messagebox_warning.png') 10px 10px no-repeat;
    padding-left: 50px;
    min-height: 32px;
  }
  &.success {
    width: 60%;
    border: 1px solid #496;
    padding: 10px;
    margin: 5px auto 5px auto;
    background: #264 url('../img/nuvola/32x32/ok.png') 10px 10px no-repeat;
    padding-left: 50px;
    min-height: 32px;
    &.success_float {
      padding: 10px;
      margin: 5px 10px 5px 10px;
      padding-left: 50px;
      width: 40%;
      float: right;
    }
  }
  &.message {
    width: 60%;
    border: 1px solid #469;
    padding: 10px;
    margin: 5px auto 5px auto;
    background: #246 url('../img/nuvola/32x32/messagebox_info.png') 10px 10px no-repeat;
    padding-left: 50px;
    min-height: 32px;
  }
  &.tip {
    padding: 10px;
    border: 1px solid #469;
    margin: 5px 10px 5px 10px;
    background: #246 url('../img/nuvola/32x32/messagebox_info.png') 10px 10px no-repeat;
    x-background-sprite: false;
    padding-left: 50px;
    &.tip_float {
      width: 40%;
      float: right;
    }
  }
}
.page_accounts .tip_float {
  width: 30%;
  margin-top: 0;
}
.error ul, .success ul, .message ul, .warning ul { margin: 0; padding: 0; list-style: none; }
span.required { color: red; font-weight: normal; }

h1 { font-size: 120%; }
h2 { font-size: 110%; }
h3 { font-size: 90%; }

#footer_nav, #copyright { clear: both; }
#footer_nav .footer_nav_list { max-width: 860px; padding: 0; margin: 0; margin: 30px auto 10px auto; padding: 10px; border-top: 1px solid #333; border-bottom: 1px solid #333; }
#footer_nav .footer_nav_list li { display: inline-block; width: 24%; padding: 0; margin: 0; line-height: 1.5em; vertical-align: top; }
#footer_nav .footer_nav_list .title { font-weight: bold; display: inline-block; margin-bottom: 5px; }
#footer_nav .footer_nav_list ul { display: block; margin: 0; padding: 0; }
#footer_nav .footer_nav_list ul li { display: block; margin: 0; padding: 0; width: auto; }
#copyright { text-align: center; font-size: 80%; }

/* basic tabs implementation */
.tabs { clear: both; }
.tabs .tab_list { margin: 0; padding: 5px; padding-bottom: 0; }
.tabs .tab_list li:hover { text-decoration: underline; }
.tabs .tab_list > ul, .tabs .tab_list > li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tabs .tab_list > li {
  display: inline-block;
  min-width: 120px;
  border: 1px outset #ccc;
  margin: 0;
  margin-bottom: -1px;    // hides the bottom border without removing it completely
  padding: 5px;
  cursor: pointer;
}
.tabs .tab_groups .tab_open { min-height: 160px; }
.tabs .tab_groups .tab_open h1, .tabs .tab_groups .tab_open h2 { margin-top: 0; }
.tabs .tab_groups { border: 1px outset #ccc; margin: 0; padding: 10px; list-style: none; background: #222; }
.tabs .tab_selected { font-weight: bold; background-color: #334455 !important; }

span.new { color: red; font-size: 75%; text-shadow: 1px 1px 1px black; }
span.beta { color: #666; font-size: 75%; text-shadow: 1px 1px 1px black; }

#page_external .external_list li { padding-bottom: 5px; }
#page_external .external_list .title { display: inline-block; width: 240px; padding: 5px; }
.status_percent { display: inline-block; width: 75px; padding: 5px 0px 5px 20px; text-align: center; }
#page_external .status_percent { margin-right: 5px; }

.status_percent.perfect { background: #473 url('../img/nuvola/ok.png') 7px 7px no-repeat; }
.status_percent.good { background: #363 url('../img/nuvola/ok.png') 7px 7px no-repeat; }
.status_percent.ok { background: #352 url('../img/nuvola/ok.png') 7px 7px no-repeat; }
.status_percent.poor { background: #862 url('../img/nuvola/messagebox_warning.png') 7px 7px no-repeat; }
.status_percent.bad { background: #952 url('../img/nuvola/messagebox_warning.png') 7px 7px no-repeat; }
.status_percent.broken { background: #722 url('../img/nuvola/messagebox_critical.png') 7px 7px no-repeat; }
.status_percent.dead { background: #822 url('../img/nuvola/messagebox_critical.png') 7px 7px no-repeat; }

#page_screenshots .tabs .tab_open { text-align: center; }
#page_screenshots .tabs .tab_open img { max-width: 66%; border: 1px solid #333; }
#page_screenshots .tabs .tab_open img.image2 { max-width: 54%; margin-top: 10px; }
#page_screenshots .tabs .tab_open p { width: 75%; margin: 5px auto 5px auto; }
#page_screenshots #tabs_screenshots { min-width: 940px; }

#tabs_accounts { margin: 20px; }

/* maybe move following into user-only css */

.page_list .page_current { font-weight: bold; }
.screenshot_image { height: 245px; }

.editing_enabled .graph { min-height: 80px; min-width: 245px; } /* make it easier to edit small graphs; editing graphs should now cover at least the edit controls */

#page_profile .add_graph { clear: both; }
#page_profile .add_graph #graph_type, #page_profile .edit_target #graph_type { width: 100%; }
#page_profile .add_graph #graph_category option, #page_profile .edit_target #graph_category option { padding-left: 10px; }
#page_profile .add_graph #graph_category option.category, #page_profile .edit_target #graph_category option.category { padding: 2px 5px; font-size: 90%; background: #ccc; font-weight: bold; }
.graph_controls { display: none; }
h2.graph_heading { margin: 5px 0; padding-top: 5px; font-size: 130%; clear: both; }
.standard_account_list .job_error { background: #993333; }
.standard_account_list .job_success { background: #336633; }
.standard_account_list .disabled { color: #ccc; font-style: italic; }
span.status_loading { font-style: italic; padding-left: 20px; background: url('../img/spinning_even.gif') top left no-repeat; min-height: 16px; }
.graph span.status_loading { background: url('../img/spinning_none.gif') top left no-repeat; margin: 10px; color: #777; }
tr.odd span.status_loading { background: url('../img/spinning_odd.gif') top left no-repeat; }

.address code { font-family: Consolas, Courier New, Courier, monospace; }
.address .inspect {
    display: inline-block; text-indent: 900em; overflow: hidden; width: 16px; height: 16px; vertical-align: text-bottom;
  }
.xpm_address .inspect { background: url('../img/coinplorer.png') top left no-repeat; }
.xrp_address .inspect { background: url('../img/ripple_graph.png') top left no-repeat; }
.wdc_address .inspect { background: url('../img/worldcoinexplorer.png') top left no-repeat; }

@each $code in $currency-codes {
  .explorer_name.explorer_#{$code} {
    padding-left: 20px;
  }

  .#{$code}_address .inspect, .explorer_name.explorer_#{$code} {
    @include explorer-label-background($code);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }
}

.currency_name_xpm, .currency_name_ghs,
  .currency_name_xrp,
  .currency_name_wdc {
    padding-left: 20px;
  }
.currency_name_xpm { background: url('../img/primecoin.png') 0 0 no-repeat; }
.currency_name_dog { font-family: "Comic Sans MS"; font-size: 85%; }
.currency_name_xrp { background: url('../img/ripple.png') 0 0 no-repeat; }
.currency_name_wdc { background: url('../img/explorer_wdc.png') 0 0 no-repeat; }
.currency_name_ghs { background: url('../img/ghs.png') 0 0 no-repeat; }

@each $code in $currency-codes {
  .currency_name.currency_#{$code}, .currency_name_#{$code} {
    padding-left: 20px;
    @include currency-label-background($code);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }
}

.purchase_button { padding: 2px; }
.help_name_twitter { background: url('../img/twitter.png') top left no-repeat; padding-left: 20px; }
.help_name_facebook { background: url('../img/facebook.png') top left no-repeat; padding-left: 20px; }
.help_name_email { background: url('../img/gmail.png') top left no-repeat; padding-left: 20px; }
.help_name_forum { background: url('../img/bitcointalk.png') top left no-repeat; padding-left: 20px; }
.help_name_blog { background: url('../img/blogger.png') top left no-repeat; padding-left: 20px; }
.help_name_litecoinforum { background: url('../img/litecoin.png') top left no-repeat; padding-left: 20px; }
.help_name_groups { background: url('../img/groups.png') top left no-repeat; padding-left: 20px; }
.kb_text img.help_inline { max-width: 40%; float: right; margin: 0 0 15px 15px; }
.kb_text img.help_inline.help_inline_double { clear: right; }
.kb_text img { max-width: 60%; max-height: 240px; }
.kb_text h2 { clear: both; }
table.fancy.contact-table { margin-top: 10px; margin-bottom: 10px; }
.discounted { color: #666; text-decoration: line-through; }
.twitter { background: url('../img/twitter.png') 0px 2px no-repeat; padding-left: 20px; display: inline-block; height: 18px; }
.facebook { background: url('../img/facebook.png') 0px 2px no-repeat; padding-left: 20px; display: inline-block; height: 18px; }
.currency_list { margin-top: 10px; }
.currency_list li { line-height: 2em; }

select.country { max-width: 240px; }
.authentication-form, .finance-form { background: #222; border: 1px solid #333; border-radius: 16px; padding: 16px; margin: 10px auto 10px auto; max-width: 600px; }
.authentication-form h2, .finance-form h2 { margin-top: 0; }
.authentication-form th, .user-profile th, .finance-form th { text-align: left; white-space: nowrap; width: 10%; vertical-align: top; line-height: 150%; min-width: 100px; }
.authentication-form .login-with-openid th, .authentication-form .login-with-password th { padding-top: 5px; }
.authentication-form .login-with-password td { padding-top: 2px; }
.authentication-form .login-with-password input[type='submit'] { margin-top: 5px; padding: 2px 5px 2px 5px; }
.authentication-form .login-with-password .tip {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 80%;
}
.authentication-form .forgotten-password {
  margin-left: 10px;
}
.authentication-form .autologin td {
  padding-top: 5px;
}

.your-transactions form { display: inline-block; }
.page_finance {
  .your-accounts table.standard {
    width: 80%;
    margin: 15px auto;
  }

  table.standard {
    thead, tbody {
      tr.buttons, td.buttons {
        width: 64px;
        text-align: center;
      }
    }
  }
}

.authentication-form button { margin-bottom: 5px; }
.authentication-form button.openid { height: 32px; padding: 2px 5px 5px 5px; margin-right: 3px; }
button .openid, .openid_list .openid { padding-left: 20px; line-height: 20px; }
.openid_list td.buttons { text-align: center; padding-top: 10px; }
.openid.openid_manual { background: url('../img/openid.png') 0 0 no-repeat; }
.openid.google { background: url('../img/google2.png') 0 0 no-repeat; }
.openid.stackexchange { background: url('../img/stackexchange.png') 0 0 no-repeat; }
.openid.yahoo { background: url('../img/yahoo.png') 0 0 no-repeat; }
.openid.blogspot { background: url('../img/blogspot.png') 0 0 no-repeat; }
.openid.launchpad { background: url('../img/launchpad.png') 0 0 no-repeat; }
.openid.aol { background: url('../img/aol.png') 0 0 no-repeat; }
.openid.verisign { background: url('../img/verisign.png') 0 0 no-repeat; }

.email_notification { padding-left: 20px; background: url('../img/nuvola/mail_forward.png') 0 0 no-repeat; }

#page_historical .backlink { float: left; }
.historical_selectors { float: right; margin: 12px; margin-right: 30px; }
.historical_selectors td { padding-left: 15px; }
.historical_selectors th { display: none; }
#page_historical .graph_collection { clear: both; }

.version-list, .kb_text .version-list {
  dt { display: inline-block; width: 16%; float: left; clear: both; font-weight: bold; margin-top: 0; }
  dd { display: inline-block; width: 84%; float: left; margin: 0; padding-bottom: 5px; }
}

.kb_text .version-list {
  max-width: 800px;
  margin: 0 auto;
  border-top: 1px solid #333;
  padding-top: 10px;
  margin-top: 10px;

  dd, dt { margin-bottom: 0.5em; line-height: 150%; }
}

.hide-admin {
  display: none;
}
.is_admin {
  .hide-admin {
    display: block;
  }
}

@import "buttons";

@import "locale";

@import "graphs";

// pages
@import "average";
@import "transactions";
@import "voting";
