html,body {
  font-family: 'Calibri', Arial;
  font-size: 95%;
  background: #111;
  color: #eee;
}
select,button,input {
  font-family: 'Calibri', Arial;
  font-size: 95%;
}
html, form { margin: 0; padding: 0; }
body { margin: 15px; padding: 0; }

a, a:active, a:visited {
  color: #ee3;
  text-decoration: underline;
}
a:hover {
    color: #e93;
}

p,li {
    line-height: 1.3em;
}

table.standard { background: #222; border-collapse: collapse; }
table.standard th { text-align: left; background: #333; font-weight: bold; }
table.standard th, table.standard td { line-height: 1.3em; padding: 2px 5px 2px 5px; border: 1px solid #333; }
table.standard tr.odd { background: #292929; }
table.standard tr.selected, .notification_template.selected { background: #111; }
table.standard tr.odd.selected { background: #111; }
table.standard th { min-width: 40px; }
table.standard td { min-width: 60px; }
table.standard td.date { white-space: nowrap; }
table.standard td.number, table.standard th.number { text-align: right; }
table.full-width { width: 100%; }
table.standard ul { margin: 0; padding: 0; margin-left: 1.1em; }

.disabled a, a.disabled { color: gray; text-decoration: none; }
.disabled { color: gray; }
.selected a { color: white; font-weight: bold; text-decoration: none; }

@import "navigation";

.error {
  width: 60%;
  border: 1px solid #944;
  padding: 10px;
  margin: 5px auto 5px auto;
  background: #622 url('../img/nuvola/32x32/messagebox_critical.png') 10px 10px no-repeat;
  padding-left: 50px;
  min-height: 32px;
}
.warning {
  width: 60%;
  border: 1px solid #974;
  padding: 10px;
  margin: 5px auto 5px auto;
  background: #642 url('../img/nuvola/32x32/messagebox_warning.png') 10px 10px no-repeat;
  padding-left: 50px;
  min-height: 32px;
}
.success {
  width: 60%;
  border: 1px solid #496;
  padding: 10px;
  margin: 5px auto 5px auto;
  background: #264 url('../img/nuvola/32x32/ok.png') 10px 10px no-repeat;
  padding-left: 50px;
  min-height: 32px;
}
.message {
  width: 60%;
  border: 1px solid #469;
  padding: 10px;
  margin: 5px auto 5px auto;
  background: #246 url('../img/nuvola/32x32/messagebox_info.png') 10px 10px no-repeat;
  padding-left: 50px;
  min-height: 32px;
}
.tip {
  padding: 10px;
  border: 1px solid #469;
  margin: 5px 10px 5px 10px;
  background: #246 url('../img/nuvola/32x32/messagebox_info.png') 10px 10px no-repeat;
  x-background-sprite: false;
  padding-left: 50px;
}
.success.success_float {
  padding: 10px;
  margin: 5px 10px 5px 10px;
  padding-left: 50px;
}
.tip_float, .success_float {
  width: 40%;
  float: right;
}
.page_accounts .tip_float {
  width: 30%;
  margin-top: 0;
}
.error ul, .success ul, .message ul, .warning ul { margin: 0; padding: 0; list-style: none; }
span.required { color: red; font-weight: normal; }

h1 { font-size: 120%; }
h2 { font-size: 110%; }
h3 { font-size: 90%; }

#footer_nav, #copyright { clear: both; }
#footer_nav .footer_nav_list { max-width: 860px; padding: 0; margin: 0; margin: 30px auto 10px auto; padding: 10px; border-top: 1px solid #333; border-bottom: 1px solid #333; }
#footer_nav .footer_nav_list li { display: inline-block; width: 24%; padding: 0; margin: 0; line-height: 1.5em; vertical-align: top; }
#footer_nav .footer_nav_list .title { font-weight: bold; display: inline-block; margin-bottom: 5px; }
#footer_nav .footer_nav_list ul { display: block; margin: 0; padding: 0; }
#footer_nav .footer_nav_list ul li { display: block; margin: 0; padding: 0; width: auto; }
#copyright { text-align: center; font-size: 80%; }

/* basic tabs implementation */
.tabs { clear: both; }
.tabs .tab_list { margin: 0; padding: 5px; padding-bottom: 0; }
.tabs .tab_list li:hover { text-decoration: underline; }
.tabs .tab_list > ul, .tabs .tab_list > li { margin: 0; padding: 0; list-style: none; }
.tabs .tab_list > li { display: inline-block; min-width: 120px; border: 1px outset #ccc; margin: 0; border-bottom: none; padding: 5px; cursor: pointer; }
.tabs .tab_groups .tab_open { min-height: 160px; }
.tabs .tab_groups .tab_open h1, .tabs .tab_groups .tab_open h2 { margin-top: 0; }
.tabs .tab_groups { border: 1px outset #ccc; margin: 0; padding: 10px; list-style: none; background: #222; }
.tabs .tab_selected { font-weight: bold; background-color: #334455 !important; }

span.new { color: red; font-size: 75%; text-shadow: 1px 1px 1px black; }
span.beta { color: #666; font-size: 75%; text-shadow: 1px 1px 1px black; }

#page_external .external_list li { padding-bottom: 5px; }
#page_external .external_list .title { display: inline-block; width: 240px; padding: 5px; }
.status_percent { display: inline-block; width: 75px; padding: 5px 0px 5px 20px; text-align: center; }
#page_external .status_percent { margin-right: 5px; }

.status_percent.perfect { background: #473 url('../img/nuvola/ok.png') 7px 7px no-repeat; }
.status_percent.good { background: #363 url('../img/nuvola/ok.png') 7px 7px no-repeat; }
.status_percent.ok { background: #352 url('../img/nuvola/ok.png') 7px 7px no-repeat; }
.status_percent.poor { background: #862 url('../img/nuvola/messagebox_warning.png') 7px 7px no-repeat; }
.status_percent.bad { background: #952 url('../img/nuvola/messagebox_warning.png') 7px 7px no-repeat; }
.status_percent.broken { background: #722 url('../img/nuvola/messagebox_critical.png') 7px 7px no-repeat; }
.status_percent.dead { background: #822 url('../img/nuvola/messagebox_critical.png') 7px 7px no-repeat; }

#page_screenshots .tabs .tab_open { text-align: center; }
#page_screenshots .tabs .tab_open img { max-width: 66%; border: 1px solid #333; }
#page_screenshots .tabs .tab_open img.image2 { max-width: 54%; margin-top: 10px; }
#page_screenshots .tabs .tab_open p { width: 75%; margin: 5px auto 5px auto; }
#page_screenshots #tabs_screenshots { min-width: 940px; }

#tabs_accounts { margin: 20px; }

/* maybe move following into user-only css */

.page_list .page_current { font-weight: bold; }
.graph_collection .graph, .graph_collection .graph_collection_empty, .graph_collection .graph_collection_screenshot { float: left; border: 1px solid #333; margin: 5px; padding: 5px; overflow: auto; }
.screenshot_image { height: 245px; }
.graph_collection .graph_collection_empty { width: 220px; height: 220px; padding: 20px; font-style: italic; color: #666; }
.graph_collection .graph h2, .graph_collection .graph h3 { margin: 5px; }
.graph_collection .graph .overflow_wrapper { overflow: auto; width: 100%; height: 100%; clear: none; }
.graph_collection .graph table.standard { width: 100%; }
.graph_collection .graph table.standard th { min-width: 1px; }
.graph_collection .graph .last_updated { float: right; text-align: right; color: #333; font-size: 80%; background: #111; margin-top: 10px; margin-right: 5px; }
.graph_collection .graph .graph_headings { height: 2em; width: 100%; overflow: hidden; }
.graph_collection .graph .render_time { display: inline-block; float: right; color: #333; font-size: 80%; z-index: 1; /* float over graph */ top: -1.25em; }
.graph_collection .graph .graph_title a { color: white; text-decoration: none; }
.graph_collection .graph .subheading { color: #777; display: inline-block; font-size: 90%; }
.graph_collection .graph .graph_title a:hover { color: white; text-decoration: underline; }
.graph_collection .graph h2 { display: inline-block; }

.graph_collection .graph .rate_matrix { list-style: none; margin: 0; padding: 0; }
.graph_collection .graph .rate_matrix .volume, .graph_collection .graph .rate_matrix .exchange { font-size: 80%; color: #666; }

.graph_collection ul.graph_controls {
  list-style: none;
  margin: 5px;
  padding: 10px;
  position: absolute;
  border: 1px solid #fff;
  background: #000;
  background-color: rgba(0,0,0,0.9);
  z-index: 5;
}
.graph_collection ul.graph_controls li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.graph_collection ul.graph_controls li + li:before {
  content: ' - ';
}
.editing_enabled .graph { min-height: 80px; min-width: 245px; } /* make it easier to edit small graphs; editing graphs should now cover at least the edit controls */

#page_profile .add_graph { clear: both; }
#page_profile .add_graph #graph_type, #page_profile .edit_target #graph_type { width: 100%; }
#page_profile .add_graph #graph_category option, #page_profile .edit_target #graph_category option { padding-left: 10px; }
#page_profile .add_graph #graph_category option.category, #page_profile .edit_target #graph_category option.category { padding: 2px 5px; font-size: 90%; background: #ccc; font-weight: bold; }
.graph_controls { display: none; }
h2.graph_heading { margin: 5px 0; padding-top: 5px; font-size: 130%; clear: both; }
.standard_account_list .job_error { background: #993333; }
.standard_account_list .job_success { background: #336633; }
.standard_account_list .disabled { color: #ccc; font-style: italic; }
span.status_loading { font-style: italic; padding-left: 20px; background: url('../img/spinning_even.gif') top left no-repeat; min-height: 16px; }
.graph span.status_loading { background: url('../img/spinning_none.gif') top left no-repeat; margin: 10px; color: #777; }
tr.odd span.status_loading { background: url('../img/spinning_odd.gif') top left no-repeat; }

.address code { font-family: Consolas, Courier New, Courier, monospace; }
.btc_address .inspect, .ltc_address .inspect, .ftc_address .inspect, .ppc_address .inspect, .nvc_address .inspect,
  .xpm_address .inspect, .trc_address .inspect, .dog_address .inspect,
  .mec_address .inspect, .xrp_address .inspect, .nmc_address .inspect,
  .dgc_address .inspect, .wdc_address .inspect, .ixc_address .inspect,
  .vtc_address .inspect, .net_address .inspect, .hbn_address .inspect { display: inline-block; text-indent: 900em; overflow: hidden; width: 16px; height: 16px; vertical-align: text-bottom; }
.btc_address .inspect { background: url('../img/blockchain.png') top left no-repeat; }
.ltc_address .inspect, .nmc_address .inspect, .mec_address .inspect, .ixc_address .inspect, .net_address .inspect { background: url('../img/explorer1.png') top left no-repeat; }
.ftc_address .inspect { background: url('../img/feathercoin.png') top left no-repeat; }
.ppc_address .inspect { background: url('../img/ppcoin.png') top left no-repeat; }
.nvc_address .inspect { background: url('../img/novacoin.png') top left no-repeat; }
.xpm_address .inspect { background: url('../img/explorer_xpm.png') top left no-repeat; }
.trc_address .inspect { background: url('../img/explorer_trc.png') top left no-repeat; }
.dog_address .inspect { background: url('../img/dogechain.png') top left no-repeat; }
.xrp_address .inspect { background: url('../img/ripple_graph.png') top left no-repeat; }
.dgc_address .inspect { background: url('../img/explorer_dgc.png') top left no-repeat; }
.wdc_address .inspect { background: url('../img/explorer_wdc.png') top left no-repeat; }
.vtc_address .inspect { background: url('../img/vertcoin.png') top left no-repeat; }
.hbn_address .inspect { background: url('../img/hobonickels_explorer.png') top left no-repeat; }
.currency_name_btc, .currency_name_ltc, .currency_name_nmc, .currency_name_ftc, .currency_name_ppc,
  .currency_name_nvc, .currency_name_xpm, .currency_name_trc, .currency_name_ghs,
  .currency_name_dog, .currency_name_mec, .currency_name_xrp, .currency_name_dgc,
  .currency_name_wdc, .currency_name_ixc, .currency_name_vtc, .currency_name_net,
  .currency_name_hbn { padding-left: 20px; }
.currency_name_btc { background: url('../img/bitcoin.png') 0 0 no-repeat; }
.currency_name_ltc { background: url('../img/litecoin.png') 0 0 no-repeat; }
.currency_name_nmc { background: url('../img/namecoin.png') 0 0 no-repeat; }
.currency_name_ftc { background: url('../img/feathercoin.png') 0 0 no-repeat; }
.currency_name_ppc { background: url('../img/ppcoin.png') 0 0 no-repeat; }
.currency_name_nvc { background: url('../img/novacoin.png') 0 0 no-repeat; }
.currency_name_xpm { background: url('../img/primecoin.png') 0 0 no-repeat; }
.currency_name_trc { background: url('../img/terracoin.png') 0 0 no-repeat; }
.currency_name_dog { background: url('../img/dogecoin.png') 0 0 no-repeat; font-family: 'Comic Sans MS'; font-size: 85%; }
.currency_name_mec { background: url('../img/megacoin.png') 0 0 no-repeat; }
.currency_name_xrp { background: url('../img/ripple.png') 0 0 no-repeat; }
.currency_name_dgc { background: url('../img/digitalcoin.png') 0 0 no-repeat; }
.currency_name_wdc { background: url('../img/explorer_wdc.png') 0 0 no-repeat; }
.currency_name_ixc { background: url('../img/ixcoin.png') 0 0 no-repeat; }
.currency_name_vtc { background: url('../img/vertcoin.png') 0 0 no-repeat; }
.currency_name_net { background: url('../img/netcoin.png') 0 0 no-repeat; }
.currency_name_hbn { background: url('../img/hobonickels.png') 0 0 no-repeat; }
.currency_name_ghs { background: url('../img/ghs.png') 0 0 no-repeat; }
.purchase_button { padding: 2px; }
.help_name_twitter { background: url('../img/twitter.png') top left no-repeat; padding-left: 20px; }
.help_name_facebook { background: url('../img/facebook.png') top left no-repeat; padding-left: 20px; }
.help_name_email { background: url('../img/gmail.png') top left no-repeat; padding-left: 20px; }
.help_name_forum { background: url('../img/bitcointalk.png') top left no-repeat; padding-left: 20px; }
.help_name_litecoinforum { background: url('../img/litecoin.png') top left no-repeat; padding-left: 20px; }
.help_name_groups { background: url('../img/groups.png') top left no-repeat; padding-left: 20px; }
.kb_text img.help_inline { max-width: 40%; float: right; margin: 0 0 15px 15px; }
.kb_text img.help_inline.help_inline_double { clear: right; }
.kb_text img { max-width: 60%; max-height: 240px; }
.kb_text h2 { clear: both; }
table.fancy.contact-table { margin-top: 10px; margin-bottom: 10px; }
.discounted { color: #666; text-decoration: line-through; }
.twitter { background: url('../img/twitter.png') 0px 2px no-repeat; padding-left: 20px; display: inline-block; height: 18px; }
.facebook { background: url('../img/facebook.png') 0px 2px no-repeat; padding-left: 20px; display: inline-block; height: 18px; }
.currency_list { margin-top: 10px; }
.currency_list li { line-height: 2em; }

select.country { max-width: 240px; }
.authentication-form { background: #222; border: 1px solid #333; border-radius: 16px; padding: 16px; margin: 10px auto 10px auto; max-width: 600px; }
.authentication-form h2 { margin-top: 0; }
.authentication-form th, .user-profile th { text-align: left; white-space: nowrap; width: 10%; vertical-align: top; line-height: 150%; min-width: 100px; }
.authentication-form .signup-with th, .authentication-form .signup-with-password th { padding-top: 5px; }
.authentication-form .signup-with-password td { padding-top: 2px; }
.authentication-form .signup-with-password input[type='submit'] { margin-top: 5px; padding: 2px 5px 2px 5px; }

.authentication-form button { margin-bottom: 5px; }
.authentication-form button.openid { height: 32px; padding: 2px 5px 5px 5px; margin-right: 3px; }
button .openid, .openid_list .openid { padding-left: 20px; line-height: 20px; }
.openid_list td.buttons { text-align: center; padding-top: 10px; }
.openid.openid_manual { background: url('../img/openid.png') 0 0 no-repeat; }
.openid.google { background: url('../img/google2.png') 0 0 no-repeat; }
.openid.stackexchange { background: url('../img/stackexchange.png') 0 0 no-repeat; }
.openid.yahoo { background: url('../img/yahoo.png') 0 0 no-repeat; }
.openid.blogspot { background: url('../img/blogspot.png') 0 0 no-repeat; }
.openid.launchpad { background: url('../img/launchpad.png') 0 0 no-repeat; }
.openid.aol { background: url('../img/aol.png') 0 0 no-repeat; }
.openid.verisign { background: url('../img/verisign.png') 0 0 no-repeat; }

.email_notification { padding-left: 20px; background: url('../img/nuvola/mail_forward.png') 0 0 no-repeat; }

#page_historical .backlink { float: left; }
.historical_selectors { float: right; margin: 12px; margin-right: 30px; }
.historical_selectors td { padding-left: 15px; }
.historical_selectors th { display: none; }
#page_historical .graph_collection { clear: both; }

@import "locale";
