/**
 * Locale codes.
 * Should only really use codes that are in use by the site...
 */

.language-list {

}


.locale {
  padding-left: 20px;
  background-position: top left;
  background-repeat: no-repeat;
}

.locale-en {
  background: url('../../vendor/kwipi/famfamfam-flags/img/us.png') 2px 2px no-repeat;
}
.locale-meow {
  background: url('../img/meow.png') 2px 2px no-repeat;
}
select.locale-en {
  background: url('../../vendor/kwipi/famfamfam-flags/img/us.png') 4px 4px no-repeat;
}
select.locale-meow {
  background: url('../img/meow.png') 4px 4px no-repeat;
}
