<?php

/**
 * Runtime configuration of Openclerk instance.
 */
function get_site_config_ext() {
	return array(
		// framework-specific
		"site_name" => "Openclerk",
		"site_email" => "support@example.com",
		"openid_host" => "localhost.openclerk.org",
		"absolute_url" => "http://localhost.openclerk.org/clerk/",

		"database_url" => "mysql:host=localhost;dbname=clerk",
		"database_username" => "clerk",
		"database_password" => "clerk",
		"database_timezone" => false,

		"phpmailer_host" => "mail.example.com",
		"phpmailer_username" => "user",
		"phpmailer_password" => "password",
		"phpmailer_from" => "support@example.com",
		"phpmailer_from_name" => "Openclerk",
		"phpmailer_reply_to" => "support@example.com",
		"phpmailer_bcc" => "support@example.com",		// if set, send a copy of all emails to this address

		"admin_email" => "support@example.com",
		"password_salt" => "abc123",
		"unsubscribe_salt" => "abc123",
		"google_analytics_account" => "UA-12345678-0",	// _setAccount

		// site-specific config values go here
		"automated_key" => "abc123",

		// job control
		"jobs_enabled" => true,		// disable when performing upgrades

		// application data for APIs
		"coinbase_client_id" => 'TODO',
		"coinbase_client_secret" => 'TODO',
		"btce_example_api_key" => 'TODO',
		"btce_example_api_secret" => 'TODO',
		"vaultofsatoshi_info_currency_api_key" => 'TODO',
		"vaultofsatoshi_info_currency_api_secret" => 'TODO',
		"blockchain_api_key" => false,		// if you have one, optional

		// contact settings
		"forum_link" => "http://bitcointalk.org/",
		"google_groups_announce" => "cryptfolio-announce",

		// there are plenty more possible configuration options;
		// have a look at inc/config.php to see which values can be overridden.

	);
}
