html, body {
  background: #eee;
  color: black;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
.body {
  background: #eee;
  padding: 15px;
}
.header {
  text-align: center;
  margin-bottom: 15px;
}
.header a {
  color: black;
}
.content {
  padding: 15px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #111;
  line-height: 130%;
}
.content p {
  margin-top: 0;
  margin-bottom: 0;
}
.content p + p {
  margin-top: 1em;
}
.sender {
  text-align: center;
  line-height: 130%;
  font-size: 90%;
  margin-top: 15px;
}
.thanks {
  display: none;
}
.site_name {
  font-weight: bold;
}
